@import url('http://fonts.googleapis.com/css?family=Muli');

.DiscoveryRingArea
{
  position: relative !important;
  display: block !important;
  float: left !important;
  width: 100% !important;
  text-align: center !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

a.DiscoveryRingLoadWidgetAssinatura,a.DiscoveryRingLoadWidgetAssinatura:hover,a#DiscoveryRingLoadWidget,a#DiscoveryRingLoadWidget:hover
{
  color: #dadada !important;
  font-weight: lighter !important;
  text-transform: none !important;
  text-decoration: none !important;
  font-size: 10px !important;
  font-family: 'Muli', sans-serif !important;
  border: 0 !important;
  padding: 0 !important;
}

a#DiscoveryRingLoadWidget,a#DiscoveryRingLoadWidget:hover
{
  margin: 0 0 0 0 !important;
}

a.DiscoveryRingLoadWidgetAssinatura,a.DiscoveryRingLoadWidgetAssinatura:hover
{
  float: right !important;
  margin: -5px 0 0 0 !important;
}

